<div class="workspace-home-wrapper">
  <div class="home-view-title">
    <nz-avatar nzSize="large" nzIcon="apartment" class="asteria-bg-blue"></nz-avatar>
    <span>{{title}}</span>
  </div>

  <div class="home-view-description">
    <p>
      The Template section provides utilities for working with Helios templates.
    </p>
    <p>
      Helios templates allows to declare collections of Asteria processes that are executed by
      <a [routerLink]="['../job']">Helios jobs</a>. Templates can be shared between different jobs as needed.
    </p>
  </div>

  <nz-card class="home-view-list">
    <nz-list [nzDataSource]="linkList" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
      <ng-template #item let-item>
        <nz-list-item>
            <nz-list-item-meta [nzTitle]="listDataTitle" [nzDescription]="item.description">
              <ng-template #listDataTitle>
                <a [routerLink]="item.routerLink" title nz-tooltip [nzTitle]="'Open ' + item.title">
                  <i nz-icon [nzType]="item.icon" nzTheme="outline"></i>
                  {{ item.title }}
                  <i nz-icon nzType="link" nzTheme="outline"></i>
                </a>
              </ng-template>
            </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-card>
</div>
