<div class="view-wrapper template-list-wrapper">
    <nz-page-header (nzBack)="titleBack()" nzBackIcon [nzTitle]="title"></nz-page-header>
    <nz-table  #templatesTable [nzData]="templateList">
        <thead>
          <tr>
            <th>Template Name</th>
            <th>Template Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let template of templateList" (click)="selectTemplate(template)" class='selectable-row'>
            <td>{{ template.name }}</td>
            <td>{{ template.description }}</td>
          </tr>
        </tbody>
      </nz-table>
</div>
