<div class="view-wrapper template-editor-wrapper">
        <nz-page-header (nzBack)="titleBack()" nzBackIcon [nzTitle]="title"></nz-page-header>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div nz-row>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group [nzPrefix]="prefixName">
                            <input formControlName="templateName" nz-input placeholder="Template Name"/>
                        </nz-input-group>
                        <nz-form-explain *ngIf="validateForm.get('templateName')?.dirty && validateForm.get('templateName')?.errors">
                            Please input the template name!
                        </nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col class="text-right" nzSpan="12">
                <nz-form-item>
                    <nz-form-control>
                        <button nz-button nzType="primary" [disabled]="!validateForm.valid">
                            <i nz-icon type="save"></i> Save
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>

    <div nz-row nzGutter="16">
        <div nz-col class="gutter-row" nzSpan="18">
            <nz-card class="w-100" nzTitle="Workflow">
                <div class="workflow-container">
                    <div class="process-edit-container">
                        <div *ngIf="this.currentProcess">
                            <h3>
                                <i nz-icon nzType="deployment-unit"></i> {{ this.currentProcess.name }}
                            </h3>
                            <nz-divider></nz-divider>
                        </div>
                        <ng-template #configContainer></ng-template>
                    </div>
                    <div class="process-list" cdkDropList (cdkDropListDropped)="dropProcess($event)">
                        <div class="process-box" *ngFor="let process of processList" cdkDrag>
                            <div class="process-box-content">
                                <span>
                                    {{ process.name }}
                                </span>
                                <span>
                                    <span class="process-btn" nz-tooltip nzTitle="Edit" (click)="editProcess(process)">
                                        <i nz-icon type="edit"></i>
                                    </span>
                                    <span class="process-btn" nz-tooltip nzTitle="Delete" (click)="deleteProcess(process)">
                                        <i nz-icon type="delete">

                                        </i></span>
                                </span>
                            </div>
                            <div class="process-box-joint">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
        <div nz-col class="gutter-row" nzSpan="6">
            <nz-card class="w-100" nzTitle="Processes"><!--padding: 1px 0 0 0;-->
                <nz-collapse [nzBordered]="false" nzAccordion>
                    <nz-collapse-panel nzHeader="File">
                        <ul>
                            <li>Test 1</li>
                            <li>Test 2</li>
                        </ul>
                    </nz-collapse-panel>
                    <nz-collapse-panel nzHeader="Data">
                        <ul>
                            <li>Test 1</li>
                            <li>Test 2</li>
                        </ul>
                    </nz-collapse-panel>
                </nz-collapse>
            </nz-card>
        </div>
    </div>
</div>

<ng-template #prefixName><i nz-icon type="tag"></i></ng-template>
