/* Utilities */
.w-100 {
    width: 100%;
}
.w-75 {
    width: 75%;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.asteria-blue {
    color: $asteria-blue;
}
.asteria-purple {
    color: $asteria-purple;
}

/* The wrapper container rules for all app views */
.view-wrapper {
    padding: $container-padding;
    min-height: 35rem;
    border: solid 1px #e8e8e8;
    border-radius: 2px;
}

/* Convenient rules associated with selectable table rows */
.selectable-row {
    cursor: pointer;
}

/* NotFoundComponent */
.not-found-view {
    h1 {
        color: $asteria-blue;
        text-align: center;
        font-size: 10rem;
        line-height: 5rem;
        margin-top: 4rem;
    }
    > p {
        color: $asteria-purple;
        text-align: center;
        font-size: 3rem;
    }
    blockquote {
        font-size: 1rem;
        margin: 0 5rem 5rem 5rem;
    }
}

/* Container for icon-based actions */
.action-container {
    i {
        padding-right: 1rem;
    }
}
