/* Color properties */
$asteria-blue: #0066CC;
$asteria-purple: #9966FF;

$error: #f5222d;
$success: #52c41a;
$primary: #1890ff;
$warning: #ff5500;

/* Layout properties */
$container-padding: 1.2rem;
$container-border-radius: 2px;
