<div class="not-found-view">
    <h1>42</h1>
    <p>Page not found</p>
    <blockquote>
        <p>
            I think the problem, to be quite honest with you, is that you've never actually known what the question is.
        </p>
        <cite>
            ― Douglas Adams, 
            <a href="https://www.goodreads.com/work/quotes/3078186-the-hitchhiker-s-guide-to-the-galaxy"
                title="The Hitchhiker's Guide to the Galaxy">
                The Hitchhiker's Guide to the Galaxy
            </a>
        </cite>
    </blockquote>
</div>

