<div class="file-explorer-wrapper">
  <nz-page-header (nzBack)="titleBack()" nzBackIcon [nzTitle]="title"></nz-page-header>
  <update-date [dateTime]="lastUpdated"></update-date>
  <nz-card class="w-100" nzTitle="File Explorer">
    <form class="directory-name-input">
      <nz-input-group nzAddOnBefore="workspace/">
          <input type="text" [ngModel]="dirPathModel" name="dirPath" nz-input/>
      </nz-input-group>
    </form>
    <div>&nbsp;</div>
    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzSpan="5">
        <nz-tree [nzData]="nodes" nzShowLine></nz-tree>
      </div>
      <div nz-col class="gutter-row" nzSpan="19">
        <ul class="file-details">
          <li *ngFor="let stats of fileStatsModel">
              <div nz-row>
                <div nz-col nzSpan="1">
                  <i nz-icon [nzType]="getFileIcon(stats)" nzTheme="outline"></i>
                </div>
                <div nz-col nzSpan="10">{{ stats.name + '.' + stats.extention }}</div>
                <div nz-col nzSpan="6"><span *ngIf="stats.isFile">{{ stats.size | fileSize }}</span></div>
                <div nz-col nzSpan="7" class="text-right">
                  <i nz-icon nzType="snippets" nzTheme="outline"></i>
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </div>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </nz-card>
</div>
