<div class="file-explorer-wrapper">
  <nz-page-header (nzBack)="titleBack()" nzBackIcon [nzTitle]="title"></nz-page-header>
  <update-date [dateTime]="lastUpdated"></update-date>
  <nz-card class="w-100" nzTitle="File Explorer">
    <form class="directory-name-input">
      <nz-input-group nzAddOnBefore="workspace/" [nzAddOnAfter]="importItems">
        <input type="text" [ngModel]="dirPathModel" name="dirPath" nz-input [disabled]="true"/>
        <ng-template #importItems>
          <div class="action-container">
            <a>
              <i nz-icon nzType="cloud-upload" nzTheme="outline" nz-tooltip nzTitle="Import from local"></i>
            </a>
            <a (click)="openUrlImportModal()">
              <i nz-icon nzType="link" nzTheme="outline" nz-tooltip nzTitle="Import from URL"></i>
            </a>
          </div>
        </ng-template>
      </nz-input-group>
    </form>
    <div>&nbsp;</div>
    <div nz-row nzGutter="16">
      <div nz-col class="gutter-row" nzSpan="5">
        <nz-tree [nzData]="nodes" nzShowLine></nz-tree>
      </div>
      <div *ngIf="fileStatsModel" nz-col class="gutter-row" nzSpan="19">
        <nz-table #filesTable [nzData]="fileStatsModel" nzShowPagination="false" nzSize="small">
          <thead>
            <tr>
              <th nzShowSort nzSortKey="name">Name</th>
              <th nzShowSort nzSortKey="size">Size</th>
              <th>Mode</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stats of filesTable.data">
              <td>
                {{ getFileName(stats) }}
              </td>
              <td>
                <span *ngIf="stats.isFile">{{ stats.size | fileSize }}</span>
              </td>
              <td>
                {{ stats.mode }}
              </td>
              <td class="action-container">
                <a (click)="copyFilePath(getFileName(stats), getFilePath(stats))"
                    nz-tooltip nzTitle="Copy file path to clipboard">
                  <i nz-icon nzType="snippets" nzTheme="outline"></i>
                </a>
                <a (click)="deleteFile(stats)" nz-tooltip nzTitle="Delete" class="danger-text">
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </a>
                <a *ngIf="stats.extention === 'csv'" nz-tooltip nzTitle="Preview"
                    (click)="previewFile(stats)">
                  <i nz-icon nzType="eye" nzTheme="outline"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </nz-card>
</div>

<nz-modal [(nzVisible)]="modalVisible" nzTitle="Import file from URL" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form class="url-import-input">
        <nz-input-group [nzAddOnBefore]="importUrlItem">
          <input type="text" [(ngModel)]="urlImportModel" name="urlImport" nz-input/>
          <ng-template #importUrlItem>
            <i nz-icon nzType="link" nzTheme="outline" nz-tooltip nzTitle="Import URL"></i>
          </ng-template>
        </nz-input-group>
      </form>
</nz-modal>
