.template-details-wrapper {
    .template-details-content {
        margin-top: 2rem;
        p {
            margin-left: 2rem;
        }
        .timeline-container {
            margin-top: 1rem;
        }
    }
}