<div class="file-preview-wrapper">
  <nz-page-header (nzBack)="titleBack()" nzBackIcon [nzTitle]="title"></nz-page-header>
  <update-date [dateTime]="lastUpdated"></update-date>
  <nz-card class="w-100" nzTitle="CSV File Preview">
      <div>&nbsp;</div>
      <form class="directory-name-input">
        <nz-input-group nzAddOnBefore="workspace/" nzSearch [nzAddOnAfter]="suffixSearchIconButton">
          <input type="text" [(ngModel)]="dirPathModel" name="dirPath" nz-input/>
        </nz-input-group>
        <ng-template #suffixSearchIconButton>
          <button nz-button nzType="primary" nzSearch (click)="previewFile()">
            <i nz-icon type="search"></i>
          </button>
        </ng-template>
      </form>
      <div>&nbsp;</div>
      <div *ngIf="heliosCsvPreview">
        <nz-descriptions nzTitle="File Information" [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
          <nz-descriptions-item nzTitle="Date modified">
            {{ heliosCsvPreview.stats.updatetime | date: 'short' }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Size">
            {{ heliosCsvPreview.stats.size | fileSize }}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Estimated number of rows">
            {{ getEstimatedRowsNum() | number }}
          </nz-descriptions-item>
      </nz-descriptions>
        <div class="ant-descriptions-title">Content Preview</div>
        <div nz-row>
          <div nz-col nzSpan="4">
            <span class="ant-descriptions-item-label">Separated by</span>
          </div>
          <div nz-col nzSpan="16">
            <nz-radio-group [(ngModel)]="separatorType" (ngModelChange)="separatorSelectHandler($event)">
              <label nz-radio [ngStyle]="style" [nzValue]="0">Tab</label>
              <label nz-radio [ngStyle]="style" [nzValue]="1">Comma</label>
              <label nz-radio [ngStyle]="style" [nzValue]="2">Semicolon</label>
              <label nz-radio [ngStyle]="style" [nzValue]="3">Space</label>
              <label nz-radio [ngStyle]="style" [nzValue]="4">
                Other
                <input type="text" nz-input [disabled]="separatorType !== 4" style="width: 50px; margin-left: 10px;"
                        maxlength="1"/>
              </label>
            </nz-radio-group>
          </div>
          <div nz-col nzSpan="4" class="text-right">
              <button nz-button nzType="default" (click)="copyFileContent()">
                <i nz-icon nzType="snippets" nzTheme="outline"></i>
                Copy
              </button>
          </div>
        </div>
        <div>&nbsp;</div>
        <nz-table #previewTable *ngIf="previewRows!.length" [nzData]="previewRows" [nzScroll]="{ x: '1100px' }"
                  nzShowPagination="false" nzPageSize="11" nzSize="small" nzBordered>
          <thead>
            <tr class="header-cell">
              <th nzWidth="20px" nzLeft="0px"><i nz-icon nzType="ordered-list" nzTheme="outline"></i></th>
              <th *ngFor="let item of previewTable.data[0];">{{item}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of previewTable.data; let idx = index;">
              <ng-container *ngIf="idx>0">
                <td class="header-cell" nzWidth="20px" nzLeft="0px">{{idx}}</td>
                <td *ngFor="let item of items;">{{item}}</td>
              </ng-container>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-card>
</div>
