<nz-divider nzDashed [nzText]="descriptionDivider">
    <ng-template #descriptionDivider><i nz-icon nzType="info-circle" nzTheme="outline"></i> Description</ng-template>
</nz-divider>
<div class="process-description">
    <p>
        The <code>read-file</code> process allows to read input data from files stored in the workspace.
    </p>
</div>
<nz-divider nzDashed [nzText]="divider">
    <ng-template #divider><i nz-icon type="tool"></i> Properties</ng-template>
</nz-divider>
<form class="process-properties">
    <nz-input-group nzAddOnBefore="workspace/" [nzAddOnAfter]="addOnAfterTemplate">
        <input type="text" [(ngModel)]="fileNameModel" name="fileName"
               (ngModelChange)="valuechange($event)" nz-input placeholder="directory / file name"/>
        <ng-template #addOnAfterTemplate>
            <a (click)="navigateTo('explorer')" nz-tooltip nzTitle="Search files">
                <i nz-icon nzType="search" nzTheme="outline"></i>
            </a>
            <span class="actions-spacer">&nbsp;</span>
            <a (click)="navigateTo('preview')" nz-tooltip nzTitle="Preview file" [class.disabled]="!allowPreview()">
                <i nz-icon nzType="eye" nzTheme="outline"></i>
            </a>
        </ng-template>
    </nz-input-group>
</form>
